{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="{{ lang or 'nl' }}">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://cloud.umami.is; style-src 'self' 'unsafe-inline'; font-src 'self'; img-src 'self' data:; connect-src 'self' https://cloud.umami.is https://api-gateway.umami.dev; form-action 'self' oerlemans.substack.com; frame-src oerlemans.substack.com; upgrade-insecure-requests">
    <meta name="author" content="{{ site.authorName }}">
    <meta name="description" content="{{ description or site.description }}">
    <meta name="robots" content="index,follow">
    <meta name="theme-color" content="#1e1e1e">
    <meta name="google-site-verification" content="jMjTF6OAleBAVNBHENj6eyCnpvWA4HBrJboL76VFXQc" />
    <meta name="google-site-verification" content="bT8IJSWDUWGQmUBZi1HVmfslbUSOFVOIGfmag0CHrBk" />

    {% if canonical %}
        <link rel="canonical" href="https://tim.oerlemans.dev/blog/{{ canonical }}">
    {% else %}
        <link rel="canonical" href="https://tim.oerlemans.dev{{ page.url }}">
    {% endif %}

    <title>{%- if title %}{{ title }} - {% endif -%}Tim Oerlemans</title>

    <link rel="stylesheet" href="/css/fonts.css?{{ assetHash }}">
    <style>{% include "css/critical.css" %}</style>
    <style>{% include "css/base.css" %}</style>

    {% if pageCriticalStyles %}
        {% for item in pageCriticalStyles %}
            <style>{% include item %}</style>
        {% endfor %}
    {% endif %}

    {% if pageStylesheets %}
        {% for item in pageStylesheets %}
            <link rel="stylesheet" media="all" href="{{ item }}?{{ assetHash }}" />
        {% endfor %}
    {% endif %}

    <link href="https://github.com/timoerlemans" rel="me">
    <link href="https://mastodon.social/@oerlemans" rel="me">
    <link href="mailto:tim@oerlemans.dev" rel="me">
    <link href="https://www.linkedin.com/in/timoerlemans" rel="me">
    <link href="https://oerlemans.substack.com" rel="me">
    <link href="https://bsky.app/profile/groenoranjerood.bsky.social" rel="me">

    <script src="/assets/js/main.js" defer></script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="6b5a5a34-b2f6-4e32-b181-fab14b35f53e"></script>
</head>

<body>
<a href="#main-content" class="skip-link">Skip to content</a>

<header class="header">
    <a href="/" class="header__site-name">Tim Oerlemans</a>
    {% if navigation.items.length > 1 %}
        <nav aria-label="Main navigation">
            <ul class="nav__list">
                {% for item in navigation.items %}
                    <li class="nav__item">
                        {% if helpers.linkIsActiveLink(item.url, page.url) %}
                            <span class="nav__link nav__link--active" aria-current="page">{{ item.text }}</span>
                        {% else %}
                            <a class="nav__link" href="{{ item.url }}">{{ item.text }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</header>

<main class="wrapper" id="main-content">
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</main>

</body>
</html>
