$breakpoint: 64em !default;

:root {
  --spacing-xs: 0.625rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-article-mobile: 1.5rem;
  --spacing-article-desktop: 3rem;
}

.body {
  --color-background: #eaeaea;
  --color-highlight: #cd0000;
  --color-nav-background: #373737;
  --color-nav-links: #ff9a9a;
  --color-text: #333;
  --color-heading: #000;
  --color-highlight-text: #fff;
  --color-links: #cd0000;
  min-height: 100vh;
}

#switch:checked + .body {
  --color-heading: #fff;
  --color-text: #eee;
  --color-background: #373737;
  --color-nav-background: #eaeaea;
  --color-links: #ff9a9a;
  --color-nav-links: #cd0000;
}
