$breakpoint: 1024px !default;

.body {
  --color-background: #eaeaea;
  --color-highlight: #cd0000;
  --color-nav-background: #373737;
  --color-nav-links: #ff7979;
  --color-text: #333;
  --color-heading: #000;
  --color-highlight-text: #fff;
  --color-links: #cd0000;
  min-height: 100vh;
}

#switch:checked + .body {
  --color-heading: #fff;
  --color-text: #eee;
  --color-background: #373737;
  --color-nav-background: #eaeaea;
  --color-links: #ff7979;
  --color-nav-links: #cd0000;
}
