$breakpoint: 1024px;

.body {
  --color-background: #eaeaea;
  --color-highlight: #f10000;
  --color-text: #333;
  --color-heading: #000;
  --color-highlight-text: #fff;
  min-height: 100vh;
}

#switch:checked + .body {
  --color-heading: #fff;
  --color-text: #eee;
  --color-background: #373737;
}

@import '~modern-normalize';
@import 'typography';

html {
  font-family: 'Muli', sans-serif;
  line-height: 1.5;
}

.body {
  color: var(--color-text);
  background: var(--color-background);
  position: relative;
}


h1 {
  margin: 0;
  background-color: var(--color-highlight);
  text-align: center;
  padding: 10px 30px;
  color: var(--color-highlight-text);
  line-height: 1.3;

  @media screen and (min-width: $breakpoint) {
    font-size: 3.5em;
  }
}

.wrapper {
  padding: 15px 15px 45px;
}

.content {
  max-width: 800px;
  margin: 0 auto 0;
}

h2 {
  font-size: 1.5em;
  color: var(--color-heading);
  margin-top: 0;

  @media screen and (min-width: $breakpoint) {
    font-size: 2.5em;
  }
}

p {
  font-size: 1.125em;
  color: var(--color-text);

  @media screen and (min-width: $breakpoint) {
    font-size: 1.5em;
  }
}

a {
  color: var(--color-highlight);
  text-decoration: underline;
  font-weight: bold;

  &:hover,
  &:focus {
    color: var(--color-heading);
    text-decoration: none;
  }

  &:active {
    border: 1px solid var(--color-highlight);
  }
}

.color-switch-checkbox {
  display: none;
}

.color-switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  right: 15px;
  bottom: 15px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-highlight);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: #fff url('https://i.ibb.co/7JfqXxB/sunny.png') no-repeat center;
}

#switch:checked + .body .slider {
  background-color: #ccc;
}

#switch:focus + .body .slider {
  box-shadow: 0 0 1px #2196f3;
}

#switch:checked + .body .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: #000 url('https://i.ibb.co/FxzBYR9/night.png') no-repeat center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
