// Suppress Bourbon deprecation warnings
$output-bourbon-deprecation-warnings: false;
@import '02-generic/_generic';

@import url('https://fonts.googleapis.com/css?family=Bitter:700');

body {
	background-color: #74bd00;
	color: #fff;

	&,
	p,
	span,
	strong,
	ul,
	li,
	h1,
	h2 {
		caret-color: #000;
		font-family: 'Bitter', Verdana, Arial sans-serif;
		text-shadow: 1px 1px 1px #2C2F33;
		&::selection {
			color: #74bd00;
			background: #fff;
		}
	}
}

h1 {
	font-size: 10vmin;
	line-height: 1;
	transition: transform ease 0.1s;

	@media screen and (min-width: 1140px) {
		font-size: 4.5vmax;
		span {
			display: inline-block;
			position: relative;
			padding: 0 5px;

			&:before {
				content: '';
				width: 100%;
				height: 100%;
				display: block;
				top: 0;
				left: 0;
				transition: color ease-in 0.25s, background ease-in 0.25s;
				position: absolute;
				transform: skewX(5deg);
				z-index: -1;
			}
		}

		&:hover,
		&:focus {
			transform: rotate(2deg);

			span {
				color: #74bd00;

				&:before {
					background: #fff;
				}
			}
		}

	}
}

p {
	margin-top: 25px;
	line-height: 1.5;
	font-size: 5vmin;

	@media screen and (min-width: 1140px) {
		font-size: 2vmax;
		line-height: 1.75;
	}
}

.wrapper {
	min-height: 100vh;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	hyphens: auto;

	@media screen and (max-width: 1141px) {
		padding: 0 15px;
	}
}

a {
	color: #fff;
	text-decoration: none;
	line-height: 1.25;
	padding: 0 10px;
	position: relative;
	display: inline-block;
	font-family: 'Bitter', Verdana, Arial sans-serif;

	&::selection {
		color: #74bd00;
	}

	&:before {
		content: '';
		background: #000;
		width: 100%;
		height: 100%;
		display: block;
		top: 0;
		left: 0;
		position: absolute;
		transform: skewX(-5deg);
		z-index: -1;
		transition: left ease-in 0.5s, width ease-in 0.5s, text-shadow ease-in 0.5s;
		transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	}

	@media screen and (min-width: 1140px) {

		&:hover,
		&:focus {
			color: #fff;
			text-shadow: 1px 2px 2px #2C2F33;

			&:before {
				left: 100%;
				width: 0;
			}
		}
	}

	&.mailto {
		+ span {
			display: inline-block;
			transition: transform ease 0.5s;
		}

		&:hover,
		&:focus {
			+ span {
				transform: rotate(450deg);
			}
		}
	}
}
