@import url('https://fonts.googleapis.com/css?family=Bitter:400i,700');
@import '/node_modules/normalize.css/normalize.css';

body {
	background-color: #74bd00;
	color: #fff;
	font-family: 'Bitter', sans-serif;
}